.gameBoard {
  width: 505px;
  height: 102px;
  border: 1px solid black;
  display: inline-block;
  vertical-align: top;
}

.letters {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  font-size: 50px;
  padding-top: 10px;
  float: right;
  clear: left;
}
#right-wrapper {
  float: right;
}
/*#e {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/
