body {
  background: linear-gradient(rgba(150,150,150, .4), rgba(150, 150, 150, .4)), url('./spirit.png');
  background-size: cover;
  color: white;
}
a {
  color: white;
}
#slot1 {
  width: 575px;
  height: 130px;
  border: 8px solid white;
  /*display: inline-block;*/
  vertical-align: top;
  position: relative;
  margin: auto;
}


.letters {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  font-size: 50px;
  padding-top: 10px;
  margin: 5px;
  /*float: right;
  clear: left;*/
}
#right-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  margin: auto;
  /*float: right;*/
}
/*.buttons {
  background: red;
  position: absolute;
}*/
