body {
  background:  url('./spirit.png');
  /*background: linear-gradient(rgba(246, 173, 255, 1), rgba(246, 173, 255, .5));*/
  background-size: cover;
  background-position: 550px 0px;
  background-repeat: repeat-x;
  color: white;
  font-family: Nunito;
  height: 600px;
  animation: animatedBackground 9s linear;
  animation-direction: reverse;
}
 @keyframes animatedBackground {
	from { background-position: 10px 0px; }
	to { background-position: 10% 0; }
}

a {
  color: white;
}
#slot1 {
  width: 575px;
  height: 130px;
  border: 3px solid white;
  border-radius: 10px;
  /*display: inline-block;*/
  vertical-align: top;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 5px;
}


.letters {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  font-size: 50px;
  padding-top: 10px;
  margin: 5px;
  /*float: right;
  clear: left;*/
}
#right-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  margin: auto;
  /*float: right;*/
}
.btn {
  margin-top: 30px;
}
p {
  width: 100px;
  height: 50px;
  margin-top: 30px;
  margin-left: 10px;
  text-align: center;
  border: 2px solid white;
  font-size: 30px;
  display: inline-block;
  border-radius: 5px;
  padding-bottom: 2px;
}
#score {
  font-size: 30px;
}
#left-wrapper {
  position: relative;
  margin: auto;
}
#answers {
  /*padding: 20px;*/
  margin: 20px;
  position: fixed;
  bottom: 35px;

  /*border: 1px solid red;*/
}
#totalCount {
  color: yellow;
  font-size: 20px;
}
.highlight {
  box-shadow: 0px 0px 3px 3px yellow;
}
.no-glow {
  box-shadow: none;
}
/*#empty {
  width: 100px;
  height: 100px;
  /*display: none;*/
}*/

@media (min-width: 600px) {
  body {
    background: gray;
  }
  #slot1 {
    width: 400px;
    height: 75px;
  }
  .letters {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }
  p {
    width: 50px;
    height: 30px;
    font-size: 20px;

  }
}
