body {
  background: linear-gradient(rgba(150,150,150, .4), rgba(150, 150, 150, .4)), url('./spirit.png');
  /*background: linear-gradient(rgba(246, 173, 255, 1), rgba(246, 173, 255, .5));*/
  background-size: cover;
  color: white;
  font-family: Nunito;
  height: 600px;
}
a {
  color: white;
}
#slot1 {
  width: 575px;
  height: 130px;
  border: 3px solid white;
  border-radius: 10px;
  /*display: inline-block;*/
  vertical-align: top;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  padding-top: 5px;
}


.letters {
  width: 100px;
  height: 100px;
  border: 3px solid white;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  font-size: 50px;
  padding-top: 10px;
  margin: 5px;
  /*float: right;
  clear: left;*/
}
#right-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  margin: auto;
  /*float: right;*/
}
.btn {
  margin-top: 30px;
}
p {
  width: 100px;
  height: 50px;
  margin-top: 30px;
  margin-left: 10px;
  text-align: center;
  border: 2px solid white;
  font-size: 30px;
  display: inline-block;
  border-radius: 5px;
  padding-bottom: 2px;
}
#score {
  font-size: 30px;
}
#left-wrapper {
  position: relative;
  margin: auto;
}
#answers {
  /*padding: 20px;*/
  margin: 20px;
  position: fixed;
  bottom: 45px;

  /*border: 1px solid red;*/
}
#empty {
  width: 100px;
  height: 100px;
  /*display: none;*/
}
